
/* Form */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
.form .thumbnail {
  background: #EF3B3A;
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.form .thumbnail img {
  display: block;
  width: 100%;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: #EF3B3A;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #EF3B3A;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/* END Form */
/* Demo Purposes */
body {
  background: #ccc;
  font-family: "Rakkas", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}

#video {
  z-index: -99;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

 {
  box-sizing: border-box;
}

.subscribe_title {
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.subscribe_form input {
  background: transparent;
  border: none;
/* border-bottom: 1px solid white */
  padding: 0.9rem 0.7rem;
  margin-bottom: 1rem;
  outline: none;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.subscribe_form input[type="submit"] {
  font-weight: bold;
  background: #444;
  border-radius: 3px;
  border: none;
  font-size: 0.8rem;
  width: 60%;
  margin: 0 auto;
}
.subscribe_form input[type="text"] {
  background: rgba(255,255,255,0.1);
  transition: background 0.4s ease-in-out;
}
.subscribe_form input[type="text"]:focus {
  background: rgba(255,255,255,0.2);
}
.button-block {
  display: block;
  width: 85%;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    height: auto;
    -webkit-transform: translate(-20%, -60%);
            transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    height: auto;
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}